*, *:before, *:after { box-sizing: border-box; }
body {
    font-family: 'Times New Roman', Times, serif;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #FFFDCC;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    -webkit-text-size-adjust: none;
}

/* Dial-a-site */
#phone {
    border-radius: 20px;
    border: 2px solid var(--text-color);
    padding: 39px;
    border-radius: 89px;
    margin: 0 auto;
}

#phone #screen {
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    padding: 17px;
    margin-bottom: 20px;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
    text-align: left;
    font-size: 21px;
    line-height: 27px;
}
#phone #screen p {
    font-size: 21px;
    line-height: 27px;
    font-style: normal;
}
#phone #screen .number-entered {
    font-size: 40px;
    line-height: 27px;
    text-align: center;
}
#phone #screen .visit-button {
    margin-top: 27px;
}
#phone #screen .visit-button a {
    font-size: 21px;
    line-height: 27px;
    text-align: center;
    text-decoration: none;
    color: #000;
    border: 2px solid var(--text-color);
    border-radius: 80px;
    background: transparent;
    cursor: pointer;
    padding: 10px 20px;
}
#phone #screen a {
    color: #000;
    font-size: 21px;
    word-break: break-all;
}
#phone #result {
    text-align: left;
    font-size: 14px;
    line-height: 20px;
}

#phone .site-title {
    font-size: 20px;
    margin-bottom: 10px;
}


#phone form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border: 0;
    padding: 0;
    margin: 0;
}

#phone input[type="number"] {
    width: 200px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border: none;
    background: transparent;
    border-radius: 20px;
    display: none;
}

#phone #dial-pad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 250px;
}

#phone button {
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    font-size: 18px;
    border: none;
    color: #000;
    border: 2px solid var(--text-color);
    border-radius: 80px;
    background: transparent;
    cursor: pointer;
}

#phone button:hover {
    background: #00000013;
}

#phone button.clear {
    /* background: #ffd900; */
    color: #000000;
}

#phone button.clear:hover {
    /* background: #ffd900; */
}

#phone button[type="submit"] {
    color: #000000;
    /* background: yellow; */
}

#phone button[type="submit"]:hover {
    /* background: #1fff26; */
}

#phone button[type="submit"].pulse {
    animation: pulse 1.5s infinite;
    /* background: #1fff26; */
}